.mainHeader {
    background-color: #F5A9D0;
    color: white;
    padding: 30px;
    font-size: 40px;
    font-family:'Righteous', cursive;
    text-align: center;
}


  html {
    background-image: url(../images/movingBackground.gif);
    background-size: cover;
 }

 .instructions, .gameControls {
     background-color: #A9D0F5;
     color: white;
     padding: 5px;
     font-size: 33px;
     text-align: center;
     font-family: 'Catamaran', sans-serif;
     margin-left: 220px;
     margin-right: 170px;
    
 }

 .gameControls {
    background-color:#8258FA;
    margin-left: 220px;
    margin-right: 170px;
    
    
    /* #0B3B24; */
    
    
    /* #088A4B; */
    
    /* #A9F5BC; */
 }


 .basicText {
     font-size: 22px;
     font-family: 'Catamaran', sans-serif;
     padding: 10px;

 }

 .imageContainer {        
    float: center;
    max-width: 960px;
    margin: auto;
    line-height: 20px;
    margin-left: 290px;
 }

#blueCrystal {
    padding:1px;
    border:3px solid #F5A9D0;
}

#yellowCrystal {
    padding:1px;
    border:3px solid #F5A9D0;
}

#greenCrystal {
    padding:1px;
    border:3px solid #F5A9D0;
}

#pinkCrystal {
    padding:1px;
    border:3px solid #F5A9D0;
}