.mainHeader {
    background-color: #F5A9D0;
    color: white;
    padding: 20px;
    font-size: 40px;
    font-family:'Righteous', cursive;
    text-align: center;
}


  html {
    background-image: url(../images/movingBackground.gif);
    background-size: cover;
 }

 .instructions, .randomNum {
     background-color: #A9D0F5;
     color: white;
     padding: 20px;
     font-size: 28px;
     text-align: center;
     font-family: 'Catamaran', sans-serif;
    
 }

 .basicText {
     font-size: 20px;
     font-family: 'Catamaran', sans-serif;

 }

 .imageContainer {        
    float: center;
    max-width: 960px;
    margin: auto;
    line-height: 20px;
 }

